.idea/
.ipynb_checkpoints/
__pycache__/
venv/
tracer_result.txt
isotope_tracing/
backup/
C13_isotope_tracing/
tracer_corrected_result.txt
*.txt
test/
summary_jump_targeted_output_20210716.pptx
test.py
test.csv
tmp.ipynb
test.params
.Rhistory
brainTest.R
natural_abundance_correction_20211019.pptx
